.input {
    border: 1px solid rgb(199, 196, 37);
    width: 300px;
    height: 100%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    margin-top: 5px;
}

.input:hover,
:focus {
    outline: none;
    border-color: #98f88d;
}

.label {
    font-size: 1rem;
    color: rgb(112, 110, 223);
}