.contanier {
  margin: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin-bottom: 20px;
}

.contacts {
  color: rgb(112, 110, 223);
}